<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Mhhhhhh Shaarwaall !!!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
</head>
<body>
    <!-- Masonry via https://codepen.io/olivier-c/pen/KNvVMq -->
    <div id="header"></div>
    <div id="nav"></div>
    <div id="flow">
        <div class="masonry">
            <div>
                <section class="author">
                    Daniel Douat
                </section>
                <section class="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in rhoncus nisl, id mattis odio. Nullam at aliquam arcu. Duis.</p>
                </section>
                <section class="media img">
                    <h3>Praesent in rhoncus nisl</h3>
                    <img src="medias/example/jens-johnsson-685540-unsplash.jpg" alt="">
                </section>
                <section class="responses">
                    <p>Belle image !</p>
                </section>
            </div>
            <div>
                <p>Suspendisse potenti. Duis porta, enim.</p>
                <img src="medias/example/aaron-burden-1073971-unsplash.jpg" alt="">
            </div>
            <div>
                <p>In dictum eros venenatis purus sodales, eu fermentum felis porttitor. Suspendisse aliquam tortor quis venenatis efficitur. Sed feugiat aliquet pulvinar. Sed accumsan tempor luctus. Etiam sagittis felis aliquam suscipit viverra. Phasellus vitae ipsum pellentesque, dapibus urna non, vulputate massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse ut est pellentesque, vestibulum ipsum pretium, fringilla neque. Aliquam accumsan ante nec metus tempus condimentum.
                <p>Nullam finibus ultrices dolor, eu euismod neque pellentesque sit amet. Aliquam massa sapien, mattis eget lorem a, maximus maximus tellus. In dolor eros, pulvinar eget fringilla eu, sagittis id diam. Sed ac nibh id sem aliquam auctor quis in tortor. Duis quis tempor nulla. Praesent sit amet mattis nibh. Praesent eu ante laoreet, consectetur turpis vitae, finibus massa. Praesent viverra lacinia facilisis. In non ex lectus. Nullam vel dolor ut eros dictum sodales id non eros. Praesent quis ex urna. Aenean urna leo, blandit sit amet nibh a, consequat suscipit ligula. Curabitur quis libero facilisis, accumsan nibh in, iaculis nunc. Proin commodo augue ut efficitur vestibulum. Vivamus sed urna sem.</p>
                <section class="responses">
                    <p>coucou !</p>
                </section>
            </div>
            <div>
                <p>Suspendisse potenti. Duis porta, enim.</p>
                <img src="medias/example/aaron-burden-1073971-unsplash.jpg" alt="">
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in rhoncus nisl, id mattis odio. Nullam at aliquam arcu. Duis.</p>
            </div>
            <div>
                <p>In dictum eros venenatis purus sodales, eu fermentum felis porttitor. Suspendisse aliquam tortor quis venenatis efficitur. Sed feugiat aliquet pulvinar. Sed accumsan tempor luctus. Etiam sagittis felis aliquam suscipit viverra. Phasellus vitae ipsum pellentesque, dapibus urna non, vulputate massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse ut est pellentesque, vestibulum ipsum pretium, fringilla neque. Aliquam accumsan ante nec metus tempus condimentum.
            </div>
        </div>
    </div>
</body>
</html>