<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Mhhhhhh Shaarwaall !!!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
</head>
<body>
    <!-- Masonry via https://codepen.io/olivier-c/pen/KNvVMq -->
    <div id="header"></div>
    <div id="nav"></div>
    <div id="flow">
        <div class="masonry">
            <div>
                <section class="author">
                    {title}
                </section>
                <section class="text">
                    {content}
                </section>
                <section class="media img">
                    <h3>Praesent in rhoncus nisl</h3>
                    <img src="medias/example/jens-johnsson-685540-unsplash.jpg" alt="">
                </section>
                <section class="responses">
                    <p>Belle image !</p>
                </section>
            </div>
        </div>
    </div>
</body>
</html>