<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Mhhhhhh Shaarwaall !!!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="templates/halloween/css/main.css" />
</head>
<body>
    <!-- Masonry via https://codepen.io/olivier-c/pen/KNvVMq -->
    <div id="header"></div>
    <div id="nav"></div>
    <div id="flow">
        <div class="masonry">
            <!-- Start Shaare -->
            <div>
                <section class="author">
                    <h4><a href="{shaarli}">{author}</a></h4>
                    <p>{description}</p>
                </section>
                {first-share}
            </div>
            <!-- End Shaare -->
        </div>
    </div>
</body>
</html>